<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Contacto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/menu.jpg" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li> <a href="../index.html"> Inicio</a> </li>
                    <li> <a href="servicio.html"> Servicio </a> </li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <div class="header-txt">
                <h1>Viajes</h1>
                
            </div>
        </div>
    </header>

    <footer>
        <div class="footer-bg">
            <h2>Contactanos</h2>

            <form>
                <div class="campo-1">
                    <label>Nombre:</label>
                    <br>
                    <input class="campo" type="text" required>
                    <br>
                </div>
                <div class="campo-1">
                    <label>Correo:</label>
                    <br>
                    <input class="campo" type="email" placeholder="@email.com" required>
                    <br>
                </div>
                <div class="campo-1">
                    <label>Teléfono:</label>
                    <br>
                    <input class="campo" type="tel" placeholder="0000-0000" required>
                    <br>
                </div>
                <div class="campo-1">
                    <label>Sitio web:</label>
                    <br>
                    <input class="campo" type="text" placeholder="Sitio Web" required>
                    <br>
                </div>

                <label>Mensaje:</label>
                <br>
                <textarea class="campo" rows="3" cols="60" required> </textarea>
                <br>
                <input type="submit" value="Enviar" class="btn-1">

            </form>
        </div>
        <div class="footer-txt">
            <p>
                Otros Contactos
            </p>
        </div>
    </footer>

    <div class="header-dir">
        <div class="dir">
            <h3>Dirección</h3>
            <p>Santa Ana, El Salvador</p>
        </div>
        <div class="dir">
            <h3>Telefono</h3>
            <p>2453-0125</p>
        </div>
        <div class="dir">
            <h3>Correo Electronico</h3>
            <p>viajesSTA@gmail.com</p>
        </div>
        <div class="dir">
            <h3>Horario</h3>
            <p>8:00am a 4:00pm</p>
        </div>
    </div>
</body>
</html>